body {
  margin: auto 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.dashboard-content {
  margin-top: 20px;
  padding-top: 20px;
  display: flex;
}

.dashboard-image {
  flex: 2;
}

.dashboard-text {
  flex: 1;
  border-left: teal 1px solid;
  padding-left: 20px;
}

.banner {
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 4px;
  color: #525257;
  margin-bottom: 20px;
  padding: 20px;
  padding-left: 20px;
  position: relative;
  text-align: left;
}

.banner-success {
  background-color: #f3fafb;
  border-color: #2babad;
}

.banner-info {
  background-color: #fbfafa;
  border-color: #dcdcdc;
}

.banner-warning {
  background-color: #fffaf2;
  border-color: #e9b550;
}

.banner-danger {
  background-color: #fff3ef;
  border-color: #d5351f;
}

.blog-list {
  display: flex;
  flex-direction: column;
}

.blog-summary {
  width: 500px;
  border: 2px steelblue solid;
  text-align: center;
  border-radius: 15px;
  padding-top: 5px;
  margin-top: 10px;
}

.blog-summary a {
  color: #525257;
}

.blog-summary img {
  width: 490px;
}

.gusto-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-item {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.blog-item-header {
  display: flex;
  height: 500px;
}

.blog-item-body {
  margin-left: 100px;
  margin-right: 100px;
}

.blog-item-header-title {
  flex: 1;
  font-size: 39px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-item-header-title p {
  font-size: 14px;
}

.blog-item-header-image {
  flex: 1;
}

.blog-quote blockquote {
  margin-bottom: 2rem;
  display: inline-block;
  font-style: italic;
  font-size: 24px;
  color: #868686;
}

.blog-quote blockquote::before {
  content: "« ";
}

.blog-quote blockquote::after {
  content: " »";
}

.author {
  display: flex;
  font-size: 24px;
  color: #525257;
  margin-left: 40px;
}

.blog-quote img {
  width: 70px;
}